.cen{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;}
    
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family: 'Hind Siliguri', sans-serif;
    }
    
    .ebay-logo-registration{
        height: 52px;
        width: 130px;
        margin-top: 15px;
    }
    .logo-registration-parallel{
        font-family: Arial, sans-serif;
        display: inline-block;
        margin-top: 15px;
    }
    .info{
        height: 18px;
        width: 18px;
    
    }
    h1{
        font-family: Arial, sans-serif;
        margin-top: 30px;
        font-size: 48px;
    }
    .radio1{
        height: 18px;
        width: 18px;
        margin-top: 0px;
    }
    .radio2{
        height: 18px;
        width: 18px;
        margin-top: 0px;
    }
    .tab{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bus_name{
        padding: 12px 12px 12px 12px;
        width: 500px;
        margin-top: 15px;
        border-radius: 8px;
        background-color: #F4F4F4;
        border-style: solid;
        border-width: 1px;
        font-size: medium;
        color: black;
    }
    .checkbox{
        width: 20px;
        height: 20px;
        margin-top: 15px;
    }
    .Register{
        font-size: large;
        padding: 10px 10px 10px 10px;
        margin-top: 15px;
        border-radius: 30px;
        width: 530px;
        color:white;
        background-color: #D9D9D9;
        border-width: 0px;
        border-color: #D9D9D9;
        font-weight: bolder;
    }
    ::placeholder{
        color: black;
    }
    
    .fa-circle-info{
        background-color: white;
        color:black;
        
    }
    .log{display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 30px;}
    
    